
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto','sans-serif';
    color: $darkGrey;
    font-weight: 300;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}